.go-back {
    border: 1px solid #c4c4c4;
    border-top: none;
    border-bottom: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;

    background: #C5E1A5;
    position: relative;
    z-index: 2;
}
#tsd-search.has-focus .go-back { display: none; }